@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}
body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #222;
  position: relative;
}

.wrapper {
  display: flex;
}

@media screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
}
